/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */
.swatch {
  --swatch--size: var(--swatch-input--size, 4.4rem);
  --swatch--border-radius: var(--swatch-input--border-radius, 50%);

  display: block;
  width: var(--swatch--size);
  max-width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border: 0.1rem solid rgba(var(--color-foreground), 0.15);
  border-radius: var(--swatch--border-radius);
}

.swatch--square {
  --swatch--border-radius: var(--swatch-input--border-radius, 0.2rem);
}

.swatch--unavailable {
  border-style: dashed;
  border-color: rgba(var(--color-foreground), 0.5);
}
/* Apply margins and left/right padding to the overall swatch container */
.swatch-single {
  margin-top: 10px;
  margin-bottom: -10px;
  padding-left: 5px;  /* Adjust as needed */
  padding-right: 5px; /* Adjust as needed */
}
.swatch-option-name{
  font-weight: 550 !important;
    font-size: 17px 
}
/*========================
margin: [top] [right] [bottom] [left];
*/
.swatch-view-button {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0px 0px 0px;
  padding: 0;
  list-style: none;
}


/* Maat swatch button default style (same as Kleur style) */
.swatch-view-button .swatch-button.swatch-selector {
  border-style: solid;
  border-width: 1px;
  border-color: #CFCFCF;
  border-radius: 18px;
  background-color: #fff;
  padding-right: 7.5px;
  padding-left: 7.5px;
  height: 35px;
  /* Remove inner margin so that the li's negative margin is in effect */
  margin: 0;
}
